.App {
  background-color: white;
  min-height: 100vh;
  min-width: 100%;
}

.content {
  padding: 65px 65px 5px 65px;
}

@media only screen and (max-width: 768px) {
  .content {
    padding-left: 10px;
    padding-right: 10px;
  }
}

body {
  background-color: black;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(200, 200, 200);
}

::-webkit-scrollbar-thumb {
  background: rgb(50, 50, 50);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(20, 20, 20); 
}
