.add-input input {
    background-color: rgb(71, 71, 71);
    color: white;
    margin-left: 10px;
    display: inline-block;
}

.add-input input::placeholder {
    background-color: rgb(71, 71, 71);
    color: rgb(153, 153, 153);
}

.add-input table tr td {
    padding: 10px;
}

.add-input select {
    width: 80px;
    text-align: center;
    text-align-last: center;
    background-color: rgb(185, 185, 185);
}

.add-input option {
    text-align: center;
}

.table-row-key {
    top: 50%;
    width: 15px;
    display: inline-block;
    vertical-align: middle;
}

.change-size-button {
    width: 50px;
    height: 50px;
    color: white;
    background-color: rgb(146, 146, 146) !important;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.4em !important;
}

.change-size-button:active, .change-size-button:focus {
    outline: none !important;
    border-color: white;
    box-shadow: none !important;
    background-color: rgb(185, 185, 185) !important;
}