.submit-button {
    background-color: rgb(53, 53, 53);
    width: 100px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.submit-button:hover {
    background-color: rgb(97, 97, 97);
}

.quiz-table {
    margin: 30px 0 20px 0px; 
    width: 512px;
    background-color: rgb(66, 66, 66);
}

@media screen and (max-width: 600px) {
    .quiz-table {
        width: 400px;
    }
}

.quiz-table thead {
    font-weight: bold;
    font-size: 1.2em;
}

.quiz-table tr {
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
}

.quiz-table td {
    width: 100%;
    padding: 20px;
}

